<li class="document">
  <span class="file"><%= file_name(@document.file.original_filename) %></span>
  <span class="type"><%= type(@document) %></span>
  <%= link_to '', '#', :id => 'remove' %>
</li>

