<% content_for(:page_title) do %>OpenAidRegister<% end %>

<script type="text/javascript">
  var projects = <%= @projects.to_json.html_safe %>
    , current_user;
</script>

<div id="embed_map">
  <div class="map"></div>
  <div id="zoom"><a class="zoom_in">+</a><a class="zoom_out">-</a></div>
</div>
