<li class="administrator">
  <span class="email"><%= administrator.email %></span>
  <% if administrator.persisted? %>
    <%= link_to "x", [@user, @user.organization, administrator], :class => "destroy_item", :method => :delete %>
  <% else %>
    <%= link_to '', '#', :id => 'remove', :class => "remove_item" %>
  <% end %>
</li>
