

  /**
   *  Specific styles for Open Aid Register login and register
   */

  @import "compass";
  @import "common/forms";
  @import "common/vars";
  @import "select2";

  @include default-form();

  body {background:#222222;}

  div.bkg,
  div.mesh {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:840px;
  }

  div.bkg {@include background(image-url('layout/girl_bkg_blur.jpg') repeat top center); z-index:0;}
  div.mesh {@include background(image-url('layout/mesh.png') repeat-x top center); z-index:1;}


  h1 {
    position:relative;
    z-index:2;
    a {color:white;}
  } 
    
  section.sessions {
    position:relative;
    margin:100px auto 0;
    background:white;
    padding:50px;
    z-index:2;

    // LOGIN
    div.field {
      input[type="password"].med,
      input[type="text"].med,
      input[type="email"].med {width:336px;}
      input[type="submit"] {padding:10px 22px; margin-left:138px;}
    }
    &.small {width:377px;}
    &.med {width:737px; padding:50px 0;}



    // SIGN UP
    div.signup {
      display:block;
      height:320px;
      overflow:hidden;

      div.user, div.organization {padding:0 50px;}

      div.field {
        input[type="password"].med,
        input[type="text"].med,
        input[type="email"].med {width:355px;}
        input[type="submit"], button {padding:10px 22px; margin-left:252px;}
      }

      div.organization {
        input[type="submit"] {margin-left:290px;}
      }
    }
    

    // Progress
    div.progress {
      display:block;
      padding:38px 50px;
      background: #F2F2F2;
      border-top:1px solid #DDDDDD;
      border-bottom:1px solid #DDDDDD;
      
      div.progress_bar {
        display:block;
        height:12px;
        padding:1px;
        border:1px solid #999999;
        background:white;
        @include border-radius(10px);

        span.bar {
          position:relative;
          display:block;
          width:50%;
          height:100%;
          @include background(linear-gradient(left,#26C9FF,#A3D900));
          @include border-radius(10px);
          &:after {
            content:'';
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            border:1px solid rgba(black,0.08);
            @include border-radius(10px);

          }
        }
      }
    }
  }


  div.bottom {
    position:relative;
    display:block;
    width:377px;
    margin:0 auto;
    padding:35px 50px 40px;
    border-top:1px solid #DDDDDD;
    background:white;
    z-index:2;
    a {display:block; line-height:40px; @include icons-sprite(right_arrow_red, $offset-x:335, $offset-y:0);}
  }


  footer {
    position:absolute;
    top:825px;
    z-index:1;
  }