

  /**
   *  Specific styles for Open Aid Register users view
   */

  @import "compass";
  @import "common/forms";
  @import "common/vars";
  @import "common/maps";
  @import "common/confirmation_tooltip";
  @import "common/mamufas";
  @import "select2";


  // Default form
  @include default-form(auto,100px);

  // Whole list with its filters and search
  .inner.list {
    position:relative;
    display:none;
  }


  // Sections styles and defaults
  section {
    // Styles
    &.bottom {border-bottom:1px solid #DDDDDD;}
    &.top {border-top:1px solid #DDDDDD;}

    &.compact {
      display:block;
      padding:20px 50px;
    }

    // Tools section
    &.tools {
      height:32px;
      label {text-transform:capitalize; margin:9px 10px 0 0;}
      a:last-child {margin-left:8px;}
    }

    // Map section
    &.map {
      position:relative;
      padding:0;
      div#projects_map {width:100%; height:450px; margin:0; padding:0;}
      div.empty_map {
        position:absolute;
        display:none;
        top:120px;
        left:50%;
        width:360px;
        margin-left:-240px;
        padding:50px 60px;
        background:white;
        border:1px solid #CCC\9;
        @include box-shadow(rgba(black,0.6) 0 0 1px 0);
        p {display:block; width:100%; &.bigger {font-size:23px;}}
        a {padding-left:25px; padding-right:25px; @include border-radius(30px)}
      }
    }

    // List filters
    &.list_filters {
      padding:35px 50px;
      div.field input[type="text"] {width:500px; margin:0;}

      div.filter_selector {
        label {text-transform:capitalize; margin:15px 15px 0 0;}
        div.select_wrapper {width:242px; margin-top:0;}
        a {
          margin-right:8px;
          &:last-child {margin-right:0px;} 
        }
      }
    }

    // List
    &.list {
      padding:0 50px;
      
      ul {
        width:100%;
        display:block;
        min-height:300px;
        padding-bottom:30px;

        li {
          display:block;
          width:100%;
          padding:25px 0;
          border-bottom:1px solid #DDDDDD;

          p {
            @include inline-block();
            
            &.name {
              width:640px;
              padding-right:50px;
              text-overflow:ellipsis; 
              overflow:hidden;
              white-space:nowrap;

              a {text-transform:capitalize; font-weight:bold; font-size:19px;}
            }

            &.status {
              width:192px;
              text-transform: capitalize;
              &.Completion, &.completion {color:#CCCCCC;}
            }
          }

          form {
            @include inline-block();
            @include opacity(0);
            input {
              border:none;
              font:bold 19px $text-fonts;
              color:#999999;
              background:none;
              &:hover {color:#666666; cursor:pointer;}
            }
          }

          &.empty {
            p {display:block; &.bigger {letter-spacing: -1px}}
          }

          &:last-child {border:none;}
          &:hover form {@include opacity(1)}
        }
      }
    }
  }

